p   {
    font-size: 14px;
}

.card .card-title {
    font-size: 30px;
}

#time1, #time2, #time3, #time4,
#time5, #time6, #time7, #time8,
#time9, #time10, #time11, #time12 {
    font-weight: bold;
    font-size: 16px;
}